<div id="building-scorecard">
  <div class="building-container">
    <!-- SIDEBAR -->
    <div class="building-sidebar">
      <div class="building-sidebar-header">
        <div class="building-sidebar-header-text">
          <div class="building-sidebar-name text-copy-large"><%= name %></div>
          <div class="building-sidebar-tab text-header">
            <%= tab.replaceAll('_', ' ').toUpperCase() %>
          </div>
          <div class="building-sidebar-perf-report text-subheader">
            <%= year %> Performance report
          </div>
        </div>
        <div class="building-sidebar-header-icon">
          <% if (tab === 'emissions_targets') { %>
          <img src="images/emissions_targets.png" />
          <% } %> <% if (tab === 'energy_targets') { %>
          <img src="images/energy_targets.png" />
          <% } %>
        </div>
      </div>

      <div class="building-sidebar-description-container text-copy">
        <% if (tab === 'benchmarking_overview') { %>
        <div class="building-sidebar-description">
          <div>
            Energy Benchmarking is the foundation of building energy management
            and the cornerstone of the Seattle Building Emissions Performance
            Standard (BEPS) and Washington Clean Buildings Performance Standard
            (CBPS) laws.
          </div>
          <div>
            This report is based on this building’s reported benchmarking data.
            It displays:
          </div>
          <div>• Energy and emissions performance trends</div>
          <div>
            • Current performance against estimated energy and emissions targets
          </div>
          <div>• Regulatory timelines and compliance requirements</div>
          <a
            class="building-sidebar-button text-subheader"
            href="https://www.seattle.gov/environment/climate-change/buildings-and-energy/energy-benchmarking"
            target="_blank"
            >Learn more
          </a>
        </div>
        <% } %> <% if (tab === 'emissions_targets') { %>
        <div class="building-sidebar-description">
          <div>
            In Seattle, nonresidential and multifamily buildings larger than
            20,000 square feet must comply with the Building Emissions
            Performance Standard (BEPS) law. Passed in 2023, BEPS aims to
            achieve net-zero emissions from all covered buildings by 2050.
            Compliance deadlines will differ based on building size.
          </div>
          <a
            class="building-sidebar-button text-subheader"
            href="https://www.seattle.gov/environment/climate-change/buildings-and-energy/building-emissions-performance-standard"
            target="_blank"
            >Learn more
          </a>
        </div>
        <% } %> <% if (tab === 'energy_targets') { %>
        <div class="building-sidebar-description">
          <% if (cbpsFlag) { %>
          <div>
            Commercial buildings in Washington larger than 50,000 square feet
            (Tier 1 buildings) must achieve performance targets under
            Washington’s Clean Buildings Performance Standard (CBPS) law.
          </div>

          <% } else { %>
          <div>
            Multifamily buildings larger than 20,000 square feet and commercial
            buildings 20,001–50,000 square feet (Tier 2 buildings) do not
            currently need to meet CBPS targets, but must comply with other
            program requirements.
          </div>

          <% } %>

          <div>
            The Washington Department of Commerce administers the CBPS and sets
            performance targets based on Energy Use Intensity (kBtu/SF/yr).
            Buildings may be subject to both Seattle’s BEPS law and Washington’s
            CBPS law.
          </div>

          <a
            class="building-sidebar-button text-subheader"
            href="https://www.commerce.wa.gov/cbps/"
            target="_blank"
            >Learn more
          </a>
        </div>
        <% } %>
      </div>
    </div>

    <!-- MAIN CONTENT -->
    <div class="building-main">
      <!-- BENCHMARKING OVERVIEW -->
      <% if (tab === 'benchmarking_overview') { %>
      <div class="building-main-section">
        <!-- Overview -->
        <div class="building-main-chart-container">
          <div class="building-main-overview-top">
            <div class="text-subheader"><%= name %></div>
            <div class="text-copy"><%= addr1 %></div>
            <div class="text-copy"><%= addr2 %></div>
          </div>

          <div class="building-main-overview-bottom">
            <!-- GHGI -->
            <div class="building-main-overview-container">
              <div class="building-main-overview-header">
                <div class="text-subheader">Emissions</div>
                <div class="building-main-overview-header-icon">
                  <img src="images/emissions_targets.png" />
                </div>
              </div>
              <div class="building-main-overview-metric">
                <div
                  class="building-main-overview-metric-number text-copy-large"
                >
                  GHGI: <%= total_ghg %>
                </div>
                <div class="building-main-overview-metric-unit text-copy">
                  (kg CO2e/SF/yr)
                </div>
              </div>
              <div class="text-copy">
                This building’s emissions per square foot per year or greenhouse
                gas intensity (GHGI)
              </div>
              <div
                id="emissions_targets"
                class="building-main-overview-button text-table"
              >
                Emissions targets
                <img src="images/link_out.png" />
              </div>
            </div>
            <!-- EUI -->
            <div class="building-main-overview-container">
              <div class="building-main-overview-header">
                <div class="text-subheader">Energy</div>
                <div class="building-main-overview-header-icon">
                  <img src="images/energy_targets.png" />
                </div>
              </div>
              <div class="building-main-overview-metric">
                <div
                  class="building-main-overview-metric-number text-copy-large"
                >
                  EUI: <%= site_eui_wn %>
                </div>
                <div class="building-main-overview-metric-unit text-copy">
                  (kBtu/SF/yr)
                </div>
              </div>
              <div class="text-copy">
                This building’s energy use per square foot per year or energy
                use intensity (EUI)
              </div>
              <div
                id="energy_targets"
                class="building-main-overview-button text-table"
              >
                Energy targets
                <img src="images/link_out.png" />
              </div>
            </div>
          </div>
        </div>
        <!-- Building info -->
        <% if (showCharts.use_types) { %>
        <div class="building-main-chart-container">
          <div class="text-subheader">BUILDING INFO</div>
          <div id="use-types-chart" />
        </div>
        <% } %>
        <!-- Energy & Emissions Breakdown -->
        <% if (showCharts.fueluse) { %>
        <div class="building-main-chart-container">
          <div class="text-subheader">ENERGY & EMISSIONS BREAKDOWN</div>
          <div id="fueluse-chart" />
        </div>
        <% } %>

        <!-- Energy Performance Over Time -->
        <% if (showCharts.performance_over_time) { %>
        <div class="building-main-chart-container">
          <div class="text-subheader">ENERGY PERFORMANCE OVER TIME</div>
          <div id="performance-over-time-chart" />
        </div>
        <% } %>
      </div>

      <% } %>
      <!-- EMISSIONS TARGETS -->
      <% if (tab === 'emissions_targets') { %>
      <div class="building-main-section">
        <!-- Seattle BEPS Requirements -->
        <div class="building-main-chart-container">
          <div class="text-subheader">SEATTLE BEPS REQUIREMENTS</div>
          <!-- BEPS target table -->
          <div class="building-main-table">
            <table>
              <tr class="building-main-table-headers text-table-header">
                <th>COMPLIANCE INTERVAL</th>
                <th>KEY ACTIONS</th>
                <th>COMPLIANCE YEAR*</th>
                <th>GHGI TARGET (kg CO2e/SF/yr)**</th>
              </tr>
              <!-- first row -->
              <tr class="building-main-table-values text-table">
                <td>2027–2030</td>
                <td>
                  <div class="building-main-table-value">
                    <div class="building-main-table-value-bullet">
                      • Verify Benchmarking
                    </div>
                    <div class="building-main-table-value-bullet">
                      • Create GHG Report
                    </div>
                    <div class="building-main-table-value-bullet">
                      • Prepare for GHGI Targets
                    </div>
                  </div>
                </td>
                <td>2027</td>
                <td>-</td>
              </tr>
              <!-- second row -->
              <tr class="building-main-table-values text-table">
                <td>2031–2035</td>
                <td>
                  <div class="building-main-table-value">
                    <div class="building-main-table-value-bullet">
                      • Verify Benchmarking
                    </div>
                    <div class="building-main-table-value-bullet">
                      • Create GHG Report
                    </div>
                    <div class="building-main-table-value-bullet">
                      • Meet First GHGI Target
                    </div>
                  </div>
                </td>
                <td><%= targetYears.bepstarget_2031 %></td>
                <td><%= bepstarget_2031 %></td>
              </tr>
              <!-- third row -->
              <tr class="building-main-table-values text-table">
                <td>2036–2040</td>
                <td>
                  <div class="building-main-table-value">
                    <div class="building-main-table-value-bullet">
                      • Verify Benchmarking
                    </div>
                    <div class="building-main-table-value-bullet">
                      • Create GHG Report
                    </div>
                    <div class="building-main-table-value-bullet">
                      • Meet Second GHGI Target
                    </div>
                  </div>
                </td>
                <td><%= targetYears.bepstarget_2036 %></td>
                <td><%= bepstarget_2036 %></td>
              </tr>
              <!-- fourth row -->
              <tr class="building-main-table-values text-table">
                <td>2041–2045</td>
                <td>
                  <div class="building-main-table-value">
                    <div class="building-main-table-value-bullet">
                      • Verify Benchmarking
                    </div>
                    <div class="building-main-table-value-bullet">
                      • Create GHG Report
                    </div>
                    <div class="building-main-table-value-bullet">
                      • Meet Third GHGI Target
                    </div>
                  </div>
                </td>
                <td><%= targetYears.bepstarget_2041 %></td>
                <td><%= bepstarget_2041 %></td>
              </tr>
              <!-- fifth row -->
              <tr class="building-main-table-values text-table">
                <td>2046–2050</td>
                <td>
                  <div class="building-main-table-value">
                    <div class="building-main-table-value-bullet">
                      • Verify Benchmarking
                    </div>
                    <div class="building-main-table-value-bullet">
                      • Create GHG Report
                    </div>
                    <div class="building-main-table-value-bullet">
                      • Meet Fourth GHGI Target
                    </div>
                  </div>
                </td>
                <td><%= targetYears.bepstarget_2046 %></td>
                <td><%= bepstarget_2046 %></td>
              </tr>
            </table>
          </div>
          <div class="text-asterisk">
            *Compliance Year Deadlines for Buildings <%= sfRangeText %> SF are
            October 1st of the year specified.
          </div>
          <div class="text-asterisk">
            ** Targets are estimated by prorating the published BEPS targets for
            the top three property use types by square footage. Calculations
            exclude parking square footage. BEPS targets for 2036 and later may
            be revised by future rule.
          </div>
        </div>
        <!-- First GHGI Target -->
        <% if (showCharts.first_ghgi_target) { %>
        <div class="building-main-chart-container">
          <div class="text-subheader">FIRST GHGI TARGET</div>
          <div id="first-ghgi-target-chart" />
        </div>
        <% } %>
        <!-- Plan for Future Targets -->
        <% if (showCharts.beps) { %>
        <div class="building-main-chart-container">
          <div class="text-subheader">PLAN FOR FUTURE TARGETS</div>
          <div id="beps-chart" />
        </div>
        <% } %>

        <!-- Take action -->
        <div class="building-main-chart-container">
          <div class="text-subheader">TAKE ACTION</div>
          <div class="building-main-overview-container-half">
            <div class="text-copy-large">
              Learn more about the BEPS program Compliance Paths and get
              technical support at OSE’s BEPS page
            </div>
            <a
              target="_blank"
              href="https://www.seattle.gov/environment/climate-change/buildings-and-energy/building-emissions-performance-standard"
              class="building-main-overview-button text-table"
            >
              seattle.gov
              <img src="images/link_out.png" />
            </a>
          </div>
        </div>
      </div>
      <% } %>
      <!-- ENERGY TARGETS -->
      <% if (tab === 'energy_targets') { %>
      <div class="building-main-section">
        <!-- Washington CBPS Requirements -->
        <div class="building-main-chart-container">
          <div class="text-subheader">WASHINGTON CBPS REQUIREMENTS</div>
          <div class="building-main-cbps-container">
            <div class="building-main-cbps-bullet">
              <div class="building-main-cbps-bullet-icon">
                <img src="images/benchmarking.png" />
              </div>
              <div class="building-main-cbps-bullet-text text-copy">
                Benchmarking
              </div>
            </div>
            <div class="building-main-cbps-bullet">
              <div class="building-main-cbps-bullet-icon">
                <img src="images/operations_and_maintenance.png" />
              </div>
              <div class="building-main-cbps-bullet-text text-copy">
                Operations and Maintenance Plan
              </div>
            </div>
            <div class="building-main-cbps-bullet">
              <div class="building-main-cbps-bullet-icon">
                <img src="images/energy_management.png" />
              </div>
              <div class="building-main-cbps-bullet-text text-copy">
                Energy Management Plan
              </div>
            </div>
            <div class="building-main-cbps-bullet">
              <div class="building-main-cbps-bullet-icon">
                <img src="images/eui_target.png" />
              </div>
              <div class="building-main-cbps-bullet-text text-copy">
                Meet an EUI Target (Tier 1 Buildings Only)
              </div>
            </div>
          </div>
        </div>
        <!-- First compliance interval -->
        <% if(showCharts.first_compliance_interval) { %>
        <div class="building-main-chart-container">
          <div class="text-subheader">FIRST COMPLIANCE INTERVAL</div>
          <div id="first-compliance-interval-chart" />
        </div>
        <% } %>
        <!-- Take action -->
        <div class="building-main-chart-container">
          <div class="text-subheader">TAKE ACTION</div>
          <div class="building-main-overview-bottom">
            <div class="building-main-overview-container">
              <div class="text-copy-large">
                Visit the Washington Department of Commerce website for steps to
                comply
              </div>
              <a
                target="_blank"
                href="https://www.commerce.wa.gov/cbps/"
                class="building-main-overview-button text-table"
              >
                commerce.wa.gov
                <img src="images/link_out.png" />
              </a>
            </div>
            <div class="building-main-overview-container">
              <div class="text-copy-large">
                Learn about free technical support options for buildings in
                Seattle
              </div>
              <a
                target="_blank"
                href="https://www.seattlebuildingsaccelerator.com/"
                class="building-main-overview-button text-table"
              >
                seattlebuildingsaccelerator.com
                <img src="images/link_out.png" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
