<div id="scorecard-2">
  <div class="building-container">
    <!-- SIDEBAR -->
    <div class="building-sidebar">
      <div class="building-sidebar-header">
        <div class="building-sidebar-header-text">
          <div class="building-sidebar-name text-copy-large"><%= name %></div>
          <div class="building-sidebar-tab text-header">
            <%= tab.replaceAll('_', ' ').toUpperCase() %>
          </div>
          <div class="building-sidebar-perf-report text-subheader">
            <%= year %> Performance report
          </div>
        </div>
        <div class="building-sidebar-header-icon">
          <% if (tab === 'emissions_targets') { %>
          <img src="images/emissions_targets.png" />
          <% } %> <% if (tab === 'energy_targets') { %>
          <img src="images/energy_targets.png" />
          <% } %>
        </div>
      </div>

      <div class="building-sidebar-description-container text-copy">
        <% if (tab === 'benchmark_overview') { %>
        <div class="building-sidebar-description">
          <div>
            Energy Benchmarking is the foundation of building energy management
            and the cornerstone of the Seattle Building Emissions Performance
            Standard (BEPS) and Washington Clean Buildings Performance Standard
            (CBPS) laws.
          </div>

          <div>
            This report is based on this building’s reported benchmarking data.
            It displays:
          </div>

          <div>• Energy and emissions performance trends</div>

          <div>
            • Current performance against estimated energy and emissions targets
          </div>

          <div>• Regulatory timelines and compliance requirements</div>
        </div>
        <% } %> <% if (tab === 'emissions_targets') { %>
        <div class="building-sidebar-description">
          In Seattle, nonresidential and multifamily buildings larger than
          20,000 square feet must comply with the Building Emissions Performance
          Standard (BEPS) law. Passed in 2023, BEPS aims to achieve net-zero
          emissions from all covered buildings by 2050. Compliance deadlines
          will differ based on building size.
        </div>
        <% } %> <% if (tab === 'energy_targets') { %>
        <div class="building-sidebar-description">
          <div>
            Commercial buildings in Washington greater than 50,000 square feet
            (Tier 1 buildings) must achieve performance targets under
            Washington’s Clean Buildings Performance Standard (CBPS) law.
          </div>
          <div>
            The Washington Department of Commerce administers the CBPS and sets
            performance targets based on Energy Use Intensity (kBtu/SF/yr).
            Buildings may be subject to both Seattle’s BEPS law and Washington’s
            CBPS law.
          </div>
        </div>
        <% } %>
      </div>
      <div class="building-sidebar-button text-subheader">Learn more</div>
    </div>

    <!-- MAIN CONTENT -->
    <div class="building-main">
      <!-- BENCHMARKING OVERVIEW -->
      <% if (tab === 'benchmark_overview') { %>
      <div class="building-main-section">
        <!-- Overview -->
        <div class="building-main-chart-container">
          <div class="building-main-overview-top">
            <div class="text-subheader"><%= name %></div>
            <div class="text-copy"><%= addr1 %></div>
            <div class="text-copy"><%= addr2 %></div>
          </div>

          <div class="building-main-overview-bottom">
            <!-- GHGI -->
            <div class="building-main-overview-container">
              <div class="building-main-overview-header">
                <div class="text-subheader">Emissions</div>
                <div class="building-main-overview-header-icon">
                  <img src="images/emissions_targets.png" />
                </div>
              </div>
              <div class="building-main-overview-metric">
                <div
                  class="building-main-overview-metric-number text-copy-large"
                >
                  GHGI: <%= total_ghg %>
                </div>
                <div class="building-main-overview-metric-unit text-copy">
                  (kg CO2e/SF/yr)
                </div>
              </div>
              <div class="text-copy">
                This building’s emissions per square foot per year or greenhouse
                gas intensity (GHGI)
              </div>
              <div class="building-main-overview-button text-table">
                Emissions targets
                <img src="images/link_out.png" />
              </div>
            </div>
            <!-- EUI -->
            <div class="building-main-overview-container">
              <div class="building-main-overview-header">
                <div class="text-subheader">Energy</div>
                <div class="building-main-overview-header-icon">
                  <img src="images/energy_targets.png" />
                </div>
              </div>
              <div class="building-main-overview-metric">
                <div
                  class="building-main-overview-metric-number text-copy-large"
                >
                  EUI: <%= total_ghg %>
                </div>
                <div class="building-main-overview-metric-unit text-copy">
                  (kBtu/SF/yr)
                </div>
              </div>
              <div class="text-copy">
                This building’s energy use per square foot per year or energy
                use intensity (EUI)
              </div>
              <div class="building-main-overview-button text-table">
                Energy targets
                <img src="images/link_out.png" />
              </div>
            </div>
          </div>
        </div>
        <!-- Building info -->
        <div class="building-main-chart-container">
          <div class="text-subheader">BUILDING INFO</div>
        </div>
        <!-- Energy & Emissions Breakdown -->
        <div class="building-main-chart-container">
          <div class="text-subheader">ENERGY & EMISSIONS BREAKDOWN</div>
        </div>
        <!-- Energy Performance Over Time -->
        <div class="building-main-chart-container">
          <div class="text-subheader">ENERGY PERFORMANCE OVER TIME</div>
        </div>
      </div>
      <% } %>
      <!-- EMISSIONS TARGETS -->
      <% if (tab === 'emissions_targets') { %>
      <div class="building-main-section">
        <!-- Seattle BEPS Requirements -->
        <div class="building-main-chart-container">
          <div class="text-subheader">SEATTLE BEPS REQUIREMENTS</div>
        </div>
        <!-- First GHGI Target -->
        <div class="building-main-chart-container">
          <div class="text-subheader">FIRST GHGI TARGET</div>
        </div>
        <!-- Plan for Future Targets -->
        <div class="building-main-chart-container">
          <div class="text-subheader">PLAN FOR FUTURE TARGETS</div>
        </div>
        <!-- Take action -->
        <div class="building-main-chart-container">
          <div class="text-subheader">TAKE ACTION</div>
        </div>
      </div>
      <% } %>
      <!-- ENERGY TARGETS -->
      <% if (tab === 'energy_targets') { %>
      <div class="building-main-section">
        <!-- Washington CBPS Requirements -->
        <div class="building-main-chart-container">
          <div class="text-subheader">WASHINGTON CBPS REQUIREMENTS</div>
        </div>
        <!-- First compliance interval -->
        <div class="building-main-chart-container">
          <div class="text-subheader">FIRST COMPLIANCE INTERVAL</div>
        </div>
        <!-- Take action -->
        <div class="building-main-chart-container">
          <div class="text-subheader">TAKE ACTION</div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
