<div id="scorecard-2">
  <div class="building-container">
    <!-- SIDEBAR -->
    <div class="building-sidebar">
      <div class="building-sidebar-name text-copy-large"><%= name %></div>
      <div class="building-sidebar-tab text-header">{TAB}</div>
      <div class="building-sidebar-perf-report text-subheader">
        {year} Performance report
      </div>
      <div class="building-sidebar-description text-copy">{TAB DEP DESC}</div>
      <div class="building-sidebar-button text-subheader">Learn more</div>
    </div>
    <!-- MAIN CONTENT -->
    <div class="building-main">
      <!-- Overview -->
      <div class="building-main-chart-container">
        <div class="text-subheader"><%= name %></div>
        <div class="text-copy"><%= addr1 %></div>
        <div class="text-copy"><%= addr2 %></div>
      </div>
    </div>
  </div>
</div>
