<div class="beps">
  <div class="beps-text-container text-copy">
    Compare your building’s <%= _year %> emissions to its estimated GHGI targets
    for all compliance intervals.
  </div>
  <div class="beps-chart-container">
    <div class="beps-chart" />
    <div class="beps-legend">
      <div class="beps-legend-swatch">
        <div class="beps-legend-swatch-color">
          <div class="beps-legend-target-line"></div>
        </div>
        <div class="beps-legend-swatch-text text-copy">
          BEPS emissions target
        </div>
      </div>

      <% if (_showGas) { %>
      <div class="beps-legend-swatch">
        <div class="beps-legend-swatch-color gas"></div>
        <div class="beps-legend-swatch-text text-copy">Gas</div>
      </div>
      <% } %> <% if (_showSteam) { %>
      <div class="beps-legend-swatch">
        <div class="beps-legend-swatch-color steam"></div>
        <div class="beps-legend-swatch-text text-copy">Steam</div>
      </div>
      <% } %> <% if (_showElectricity) { %>
      <div class="beps-legend-swatch">
        <div class="beps-legend-swatch-color electric"></div>
        <div class="beps-legend-swatch-text text-copy">Electric</div>
      </div>
      <% } %>
    </div>
  </div>
</div>
