<div class="fueluse">
  <div class="fueluse-chart-container">
    <div class="fueluse-chart" />

    <div class="fueluse-legend">
      <% if (_showGas) { %>
      <div class="fueluse-legend-swatch">
        <div class="fueluse-legend-swatch-color gas"></div>
        <div class="fueluse-legend-swatch-text text-copy">Gas</div>
      </div>
      <% } %> <% if (_showSteam) { %>
      <div class="fueluse-legend-swatch">
        <div class="fueluse-legend-swatch-color steam"></div>
        <div class="fueluse-legend-swatch-text text-copy">Steam</div>
      </div>
      <% } %> <% if (_showElectricity) { %>
      <div class="fueluse-legend-swatch">
        <div class="fueluse-legend-swatch-color electric"></div>
        <div class="fueluse-legend-swatch-text text-copy">Electric</div>
      </div>
      <% } %>
    </div>
  </div>
  <div class="fueluse-text-container text-copy">
    In Seattle, all-electric buildings have the lowest greenhouse gas emissions
    due to
    <a
      target="_blank"
      class="text-copy-link"
      href="https://seattle.gov/city-light/environment/climate-change-response"
      >Seattle City Light's low carbon electricity</a
    >. Over 90% of Seattle’s building emissions come from burning fossil fuels
    like gas and oil for furnaces, water heaters, and appliances — including gas
    used to generate district steam.
  </div>
</div>
