#use-types-chart {
  $first: #6baed6;
  $second: #c6dbef;
  $third: #eff3ff;

  width: 100%;

  .use-types {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;

    &-table {
      border-radius: $small-border-radius;
      overflow: hidden;

      table {
        border-spacing: 0;
        border-collapse: collapse;
        border-style: hidden;
        margin: 0;
      }

      &-headers {
        background-color: $dark-blue;
        color: $white;
        border-bottom: 1px solid $light-gray;

        th {
          text-align: center;
          border-right: 1px solid $light-gray;
        }

        th:last-of-type {
          border-right: none;
        }
      }

      &-values {
        background-color: $white;
        color: $paragraph;

        td {
          text-align: center;
          border-right: 1px solid $light-gray;
          border-bottom: 1px solid $light-gray;
          padding: 0.5rem;
        }

        td:last-of-type {
          border-right: none;
          border-bottom: none;
        }
      }
    }

    &-chart-container {
      display: flex;
      width: 100%;
      gap: 1rem;
    }

    &-legend {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.5rem;

      &-swatch {
        display: flex;
        gap: 1rem;
        align-items: center;

        &-color {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 1rem;
          height: 1rem;
          border-radius: 2px;
          border: 1px solid $paragraph;

          &.first {
            background-color: $first;
          }

          &.second {
            background-color: $second;
          }

          &.third {
            background-color: $third;
          }
        }

        &-text {
        }
      }
    }

    &-chart {
      font-size: 0.8rem;
      height: 150px;
      width: 150px;

      svg {
        height: 100%;
        width: 100%;
      }

      &-section {
        stroke: $paragraph;
        stroke-width: 1px;
      }

      &-first {
        fill: $first;
      }

      &-second {
        fill: $second;
      }

      &-third {
        fill: $third;
      }

      .pie-chart-text {
        stroke: white;
        stroke-width: 2px;
      }
    }
  }
}
