#beps-chart {
  width: 100%;

  .beps {
    display: flex;
    flex-direction: column;
    width: 100%;

    &-chart-container {
      display: flex;
      width: 100%;
      gap: 1rem;
    }

    &-legend {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;

      &-target-line {
        width: 100%;
        height: 0;
        border-top: 2px dashed $gray;
      }

      &-swatch {
        display: flex;
        gap: 1rem;
        align-items: center;

        &-color {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 1rem;
          height: 1rem;
          border-radius: 2px;

          &.gas {
            background-color: $gas-color;
          }

          &.electric {
            background-color: $electric-color;
          }

          &.steam {
            background-color: $steam-color;
          }
        }

        &-text {
        }
      }
    }

    &-chart {
      font-size: 0.8rem;
      height: 250px;
      width: 50%;

      svg {
        height: 100%;
        width: 100%;
      }

      .beps-bar {
        &-gas {
          rect {
            fill: $gas-color;
          }
        }

        &-electricity {
          rect {
            fill: $electric-color;
          }
        }

        &-steam {
          rect {
            fill: $steam-color;
          }
        }

        &-percentages {
          fill: white;
          text-anchor: middle;
        }

        &-axis-text {
          fill: $paragraph;
        }

        &-target-text {
          text-anchor: end;
        }

        &-target-line {
          stroke: $gray;
          stroke-width: 2;
          stroke-dasharray: 4, 4;
        }

        &-background-rect {
          fill: white;
        }

        &-y-axis-label {
        }
      }
    }
  }
}
