<div class="fueluse">
  <div class="fueluse-chart-container">
    <div class="fueluse-chart" />
    <div class="fueluse-legend">
      <div class="fueluse-legend-swatch">
        <div class="fueluse-legend-swatch-color electric"></div>
        <div class="fueluse-legend-swatch-text text-copy">Electric</div>
      </div>
      <div class="fueluse-legend-swatch">
        <div class="fueluse-legend-swatch-color steam"></div>
        <div class="fueluse-legend-swatch-text text-copy">Steam</div>
      </div>
      <div class="fueluse-legend-swatch">
        <div class="fueluse-legend-swatch-color gas"></div>
        <div class="fueluse-legend-swatch-text text-copy">Gas</div>
      </div>
    </div>
  </div>
  <div class="fueluse-text-container text-copy">Text will go here</div>
</div>
