<div class="performance-over-time">
  <div class="performance-over-time-text-container text-copy">
    Text will go here
  </div>

  <div class="performance-over-time-chart-container">
    <div class="performance-over-time-chart" />
  </div>

  <div class="performance-over-time-legend">
    <div class="performance-over-time-legend-item">
      <div class="performance-over-time-legend-circle building"></div>
      <div class="performance-over-time-legend-text text-copy">
        This building
      </div>
    </div>
    <div class="performance-over-time-legend-item">
      <div class="performance-over-time-legend-circle average"></div>
      <div class="performance-over-time-legend-text text-copy">
        Average similar building
      </div>
    </div>
  </div>
</div>
