<div class="use-types">
  <div class="use-types-text-container text-copy">Text will go here</div>
  <div class="use-types-chart-container">
    <div class="use-types-chart" />
    <div class="use-types-legend">
      <div class="use-types-legend-swatch">
        <div class="use-types-legend-swatch-color first"></div>
        <div class="use-types-legend-swatch-text text-copy">
          <%= largestpropertyusetype %>
        </div>
      </div>
      <div class="use-types-legend-swatch">
        <div class="use-types-legend-swatch-color second"></div>
        <div class="use-types-legend-swatch-text text-copy">
          <%= secondlargestpropertyusetype %>
        </div>
      </div>
      <div class="use-types-legend-swatch">
        <div class="use-types-legend-swatch-color third"></div>
        <div class="use-types-legend-swatch-text text-copy">
          <%= thirdlargestpropertyusetype %>
        </div>
      </div>
    </div>
  </div>
</div>
